h1 {
    margin-left: 50px;
    /* margin-top: 50px; */
    margin-bottom: 10px;
    size: auto;
    color:#663399;
    font-family: monospace;

}
h2 {
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 10px;
    size: auto;
    color:#663399;
    font-family: monospace;
    font-size: xx-large;
}
h3 {
    margin: 20px;
    padding-top: 20px;
    size: auto;
    color:#663399;
    font-family: monospace;
    font-size: x-large;
}
h4 {
    margin: 50px;
    margin-bottom: 10px;
    size: auto;
    color:#663399;
    font-family: monospace;
    font-size: x-large;
}
.header {
    padding: 60px;
    padding-left: 60px;
    text-align: left;
    background-color: #FDF5FF;
}
.logo-container {
    display: flex;
    margin-left: 50px;
    gap: 10px;
}
.logo{
    height: 30px;
    width: auto;
}
.topnav {
    background-color: #663399;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f4f2f7;
    text-align: center;
    margin-left: 20px;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav, .description {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
homepage, p1 {
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gist-container, .iframe {
    margin-left: 50px;
    margin-right: 50px;
    max-height: 3000px;
    overflow: auto;
}

.gist .blob-wrapper.data {
    max-height: 500px;
    overflow: auto;
 }

.ppt-container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.ppt-iframe-wrapper {
    position: relative;
    width: 60%;
    padding-top: 40%;
    margin-left: 50px;
    margin-right: 50px;
}

.ppt-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.row {
    display: flex;
    flex-wrap: wrap; /* allows cards to wrap on smaller screens */
    justify-content: flex-start; /* or space-between / space-around / center */
    flex-direction: row;
    gap: 40px;
    text-align: left;
    margin-left: 110px; /* keep if you want that left margin */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 270px;
    max-width: 300px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: space-between;
    background-color: #fefbff;
}
.card-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #663399;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover, a:hover {
    opacity: 0.7;
}