h1, h2 {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    size: auto;
    color:rebeccapurple;
    font-family: monospace;

}
.logo-container {
    display: flex;
    margin-left: 50px;
    gap: 10px;
}
.logo{
    height: 30px;
    width: auto;
}
nav, p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gist-container {
    margin-left: 50px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}