h1 {
    margin-left: 50px;
    /* margin-top: 50px; */
    margin-bottom: 10px;
    size: auto;
    color:#663399;
    font-family: monospace;

}
h2, h3 {
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 10px;
    size: auto;
    color:#663399;
    font-family: monospace;

}
.header {
    padding: 60px;
    padding-left: 60px;
    text-align: left;
    background-color: #f4f2f7;
}
.logo-container {
    display: flex;
    margin-left: 50px;
    gap: 10px;
}
.logo{
    height: 30px;
    width: auto;
}
nav, p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
homepage, p1 {
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gist-container, .iframe {
    margin-left: 50px;
    margin-right: 50px;
    max-height: 3000px;
    overflow: auto;
}

.gist .blob-wrapper.data {
    max-height: 500px;
    overflow: auto;
 }

.ppt-container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.ppt-iframe-wrapper {
    position: relative;
    width: 60%;
    padding-top: 40%;
    margin-left: 50px;
    margin-right: 50px;
}

.ppt-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.column {
    float: left;
    width: 33%;
} 
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}